<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @user_name %>
    </title>
    <% FlickView::CDN[:scripts].each do |cdn| %>
      <script src='<%= cdn %>'></script>
    <% end %>
    <% FlickView::EDGEFONTS.each do |f| %>
      <script src='http://use.edgefonts.net/<%= f %>.js'></script>
    <% end %>
    <link rel='stylesheet' href='style.css'>
    <!--<%= Time.now.to_s %>-->
    <script>
      var timer;
      var flickr = {
        sets: JSON.parse(<%= "'#{@sets_hash.to_json}'" %>),
        load: function(name) {
          var totalWidth = 300;
          clearInterval(timer);
          var elements = [];
          var count = this.sets[name].photos.length;
          console.log('Loading %d photos from set "%s" ...', count, name);
          new_photos = this.sets[name].photos;
          $('.container').fadeOut('slow', function() {
            $('ul.content').empty();
            $('.container').fadeIn();
            $.each(new_photos, function(k, v) {
              elements.push(
                $('<li class="content" />').append(
                  $('<img src="'+v.url+'" />').load(function() {
                    if (!this.complete
                        || typeof this.naturalWidth == undefined
                        || this.naturalWidth == 0) {
                      console.log('Skipping broken image %d (%s)', k, v.url);
                    } else {
                      totalWidth += this.naturalWidth;
                      $('.container').css({width: totalWidth+'px'});
                    }
                  })
                ).hide().fadeIn(9000)
              );
              if (count === elements.length) {
                timer = setInterval(function() {
                  $('ul.content').append(elements.splice(0, 3));
                  if (0 === elements.length) {
                    clearInterval(timer);
                  }
                }, 1000);
              }
            });
          });
        }
      };
      $(window).hashchange(function() {
        try {
          flickr.load(location.hash.slice(1));
        } catch (e) {
          console.log('Nothing to load!');
        }
      });

      $(document).ready(function() {
        // Tirger `hashchange` enent on load, in case it was provided
        $(window).hashchange();
        $('svg.site_header').fadeIn('slow');
      });
    </script>
  </head>
  <body>
    <header class='site_header'>
      <h1 style='display:none;'><%= @user_name %><br>Photography</h1>
      <svg class='site_header' style='display:none;'>
        <g class='site_header' style='position:fixed;left:0px;top:0px;' transform='translate(-123, -100)'>
          <g id="header_line1" transform="scale(0.9835121,1.0167643)" >
            <path transform="scale(1.0167643,0.98351211)" d="m 123.53125,109 0,23.96875 2.3125,0 0,-21.84375 7.3125,0 c 2.43146,0 4.78231,0.58532 6.53125,2.4375 2.43146,2.55776 2.28125,7.20365 2.28125,10.6875 0,2.46565 0.0308,5.97455 -0.78125,8.71875 l 2.4375,0 c 0.68804,-2.84306 0.625,-6.10188 0.625,-8.71875 0,-4.23354 0.13381,-9.19985 -2.9375,-12.375 -1.7916,-1.85217 -4.43712,-2.875 -7.59375,-2.875 l -10.1875,0 z" />
            <path d="m 164.3663,106.95694 c -2.90594,0 -5.68255,1.12719 -7.72105,3.16568 -2.81919,2.81919 -2.85965,5.55685 -2.85965,12.53978 0,3.68867 0.0179,6.15809 0.44483,8.11398 l 2.44659,0 c -0.50244,-1.79287 -0.57193,-4.20262 -0.57193,-8.11398 0,-6.63596 0.20284,-9.03693 2.41482,-11.24892 1.5614,-1.5614 3.63441,-2.39731 5.84639,-2.39731 2.21199,0 4.28499,0.83591 5.8464,2.39731 2.21199,2.21199 2.38304,4.61296 2.38304,11.24892 0,3.91259 -0.069,6.32095 -0.57193,8.11398 l 2.47836,0 c 0.42658,-1.95562 0.44484,-4.42647 0.44484,-8.11398 0,-6.98293 -0.0405,-9.72059 -2.85965,-12.53978 -2.0385,-2.03849 -4.81511,-3.16568 -7.72106,-3.16568 z" />
            <path transform="scale(1.0167643,0.98351211)" d="m 180.25,109 0,23.96875 2.3125,0 0,-18.4375 8.0625,18.4375 2.4375,0 -10.5,-23.96875 -2.3125,0 z m 23.21875,0 -10.21875,23.96875 2.3125,0 7.90625,-18.4375 0,18.4375 2.3125,0 0,-23.96875 -2.3125,0 z" />
            <path transform="scale(1.0167643,0.98351211)" d="m 215.1875,109 0,23.96875 2.28125,0 0,-23.96875 -2.28125,0 z" />
            <path id="path5098" d="m 232.68015,107.20282 0,23.57356 2.3195,0 0,-19.54731 12.99552,19.54731 2.73255,0 -15.72807,-23.57356 -2.3195,0 z" />
            <path id="path5004" d="m 250.82304,107.20282 0,23.57356 2.31949,0 0,-23.57356 -2.31949,0 z" />
            <path transform="scale(1.0167643,0.98351211)" d="m 258.34375,109 0,23.96875 2.28125,0 0,-23.96875 -2.28125,0 z" />
            <path d="m 274.52636,107.20282 0,23.57356 2.52557,0 0,-1.04499 7.91798,-8.94381 6.14326,9.9888 2.90099,0 -7.37192,-11.77141 10.23877,-11.80215 -3.0375,0 -16.79158,19.30143 0,-19.30143 -2.52557,0 z" />
            <path transform="scale(1.0167643,0.98351211)" d="m 304.625,109 -8.53125,23.96875 2.40625,0 0.0625,-0.1875 14.15625,0 0.0625,0.1875 2.40625,0 L 306.65625,109 304.625,109 z m 1,3.1875 6.375,18.46875 -12.71875,0 6.34375,-18.46875 z" />
            <path d="m 360.12521,106.95694 c -2.90595,0 -5.68256,1.12719 -7.72106,3.16568 -2.81919,2.81919 -2.85965,5.55685 -2.85965,12.53978 0,3.69217 0.0484,6.15727 0.47661,8.11398 l 2.41482,0 c -0.50245,-1.79287 -0.54016,-4.20262 -0.54016,-8.11398 0,-6.63596 0.17106,-9.03693 2.38304,-11.24892 1.56141,-1.5614 3.63441,-2.39731 5.8464,-2.39731 4.16374,0 7.19152,2.69556 8.10234,6.94605 l 2.38304,0 c -0.99757,-5.59502 -4.9771,-9.00528 -10.48538,-9.00528 z" />
            <path transform="scale(1.0167643,0.98351211)" d="m 372.46875,109 0,23.96875 2.3125,0 0,-7.34375 13.71875,0 0,-2.125 -13.71875,0 0,-12.375 16.125,0 0,-2.125 -18.4375,0 z" />
            <path d="m 414.01371,106.95694 c -2.90594,0 -5.68255,1.12719 -7.72105,3.16568 -2.81919,2.81919 -2.85965,5.55685 -2.85965,12.53978 0,3.68751 -0.0135,6.15836 0.41306,8.11398 l 2.47836,0 c -0.50244,-1.79287 -0.57193,-4.20262 -0.57193,-8.11398 0,-6.63596 0.17106,-9.03693 2.38304,-11.24892 1.56141,-1.5614 3.66619,-2.39731 5.87817,-2.39731 4.16374,0 7.19153,2.69556 8.10234,6.94605 l 2.38305,0 c -0.99757,-5.59502 -4.97711,-9.00528 -10.48539,-9.00528 z" />
            <path d="m 441.97473,106.95694 c -2.90595,0 -5.68256,1.12719 -7.72105,3.16568 -2.8192,2.81919 -2.89143,5.55685 -2.89143,12.53978 0,3.68751 0.0183,6.15836 0.44484,8.11398 l 2.47836,0 c -0.50245,-1.79287 -0.57193,-4.20262 -0.57193,-8.11398 0,-6.63596 0.17105,-9.03693 2.38304,-11.24892 1.56141,-1.5614 3.66618,-2.39731 5.87817,-2.39731 2.21198,0 4.28499,0.83591 5.8464,2.39731 2.21199,2.21199 2.38304,4.61296 2.38304,11.24892 0,3.91136 -0.0695,6.32111 -0.57193,8.11398 l 2.44659,0 c 0.42816,-1.95671 0.47661,-4.42181 0.47661,-8.11398 0,-6.98293 -0.0405,-9.72059 -2.85965,-12.53978 -2.03849,-2.03849 -4.81512,-3.16568 -7.72106,-3.16568 z" />
            <path transform="scale(1.0167643,0.98351211)" d="m 449.875,109 0,2.125 9.03125,0 0,21.84375 2.3125,0 0,-21.84375 9.09375,0 0,-2.125 -20.4375,0 z" />
          </g>
          <g id="header_line2" transform="scale(0.98737132,1.0127902)">
            <path transform="scale(1.0127902,0.98737132)" d="m 124.09375,147.28125 0,23.71875 2.375,0 0,-5.25 9.0625,0 c 5.39607,0 9.4375,-3.4 9.4375,-9.25 0,-5.84999 -4.04143,-9.21875 -9.4375,-9.21875 l -11.4375,0 z m 2.375,2.15625 8.8125,0 c 4.29931,0 7.3125,2.2475 7.3125,7.0625 0,4.815 -3.01319,7.09375 -7.3125,7.09375 l -8.8125,0 0,-14.15625 z" />
            <path transform="scale(1.0127902,0.98737132)" d="m 151.78125,147.28125 0,23.71875 2.34375,0 0,-6.75 16.28125,0 0,6.75 2.375,0 0,-23.71875 -2.375,0 0,14.8125 -16.28125,0 0,-14.8125 -2.34375,0 z" />
            <path transform="scale(1.0127902,0.98737132)" d="m 191.9375,147.03125 c -2.93933,0 -5.75058,1.16625 -7.8125,3.28125 -2.85159,2.92499 -2.90625,5.75501 -2.90625,13 0,3.37371 0.0144,5.77193 0.3125,7.6875 L 184,171 c -0.35176,-1.7849 -0.40625,-4.138 -0.40625,-7.6875 0,-6.88499 0.16886,-9.36126 2.40625,-11.65625 1.57934,-1.62 3.70011,-2.46875 5.9375,-2.46875 2.2374,0 4.32691,0.84875 5.90625,2.46875 2.23739,2.29499 2.40625,4.77126 2.40625,11.65625 0,3.5495 -0.0545,5.9026 -0.40625,7.6875 l 2.46875,0 c 0.2981,-1.91557 0.3125,-4.31379 0.3125,-7.6875 0,-7.24499 -0.0546,-10.07501 -2.90625,-13 -2.06192,-2.115 -4.84191,-3.28125 -7.78125,-3.28125 z" />
            <path transform="scale(1.0127902,0.98737132)" d="m 207.5625,147.28125 0,2.15625 9.28125,0 0,21.5625 2.375,0 0,-21.5625 9.34375,0 0,-2.15625 -21,0 z" />
            <path transform="scale(1.0127902,0.98737132)" d="m 244.1875,147.03125 c -2.93933,0 -5.75059,1.16625 -7.8125,3.28125 -2.85159,2.92499 -2.875,5.75501 -2.875,13 0,3.37371 0.0144,5.77193 0.3125,7.6875 l 2.4375,0 c -0.35158,-1.78478 -0.40625,-4.13869 -0.40625,-7.6875 0,-6.88499 0.2001,-9.36126 2.4375,-11.65625 1.57934,-1.62 3.66885,-2.46875 5.90625,-2.46875 2.23739,0 4.35816,0.84875 5.9375,2.46875 2.23739,2.29499 2.40625,4.77126 2.40625,11.65625 0,3.54881 -0.0547,5.90272 -0.40625,7.6875 l 2.46875,0 c 0.29796,-1.91542 0.3125,-4.31433 0.3125,-7.6875 0,-7.24499 -0.0546,-10.07501 -2.90625,-13 -2.06191,-2.115 -4.87317,-3.28125 -7.8125,-3.28125 z" />
            <path transform="scale(1.0127902,0.98737132)" d="m 272.8125,147.03125 c -2.93933,0 -5.75059,1.16625 -7.8125,3.28125 -2.85159,2.92499 -2.90625,5.75501 -2.90625,13 0,3.37317 0.0145,5.77208 0.3125,7.6875 l 2.46875,0 c -0.35176,-1.7849 -0.40625,-4.138 -0.40625,-7.6875 0,-6.88499 0.16885,-9.36126 2.40625,-11.65625 1.57934,-1.62 3.70011,-2.46875 5.9375,-2.46875 4.21157,0 7.35997,2.7775 8.28125,7.1875 l 2.375,0 c -0.96516,-5.66999 -5.17243,-9.34375 -10.65625,-9.34375 z m 0,15.90625 0,2.1875 8.375,0 0,2.875 c 0,1.13539 -0.11063,2.10939 -0.3125,3 l 2.46875,0 c 0.14663,-0.86492 0.21875,-1.81599 0.21875,-2.84375 l 0,-5.21875 -10.75,0 z" />
            <path d="m 297.7814,145.42128 0,23.41922 2.40538,0 0,-6.35621 8.70366,0 3.29157,6.35621 2.75352,0 -3.35486,-6.38706 c 4.44316,-0.75534 7.31108,-3.83717 7.31108,-8.54694 0,-5.50953 -3.9294,-8.48522 -9.08347,-8.48522 l -12.02688,0 z m 2.40538,2.12902 9.30501,0 c 4.04328,0 6.99458,2.06362 6.99458,6.41792 0,4.35429 -2.9513,6.38705 -6.99458,6.38705 l -9.30501,0 0,-12.80497 z" />
            <path transform="scale(1.0127902,0.98737132)" d="M 327.96875,147.28125 319.5,171 l 19.09375,0 -8.5,-23.71875 -2.125,0 z m 1.0625,3.25 6.53125,18.84375 -13.0625,0 6.53125,-18.84375 z" />
            <path d="m 349.44427,145.42128 0,23.41922 2.40538,0 0,-5.1837 9.21006,0 c 5.46508,0 9.5582,-3.35707 9.5582,-9.13319 0,-5.77611 -4.09312,-9.10233 -9.5582,-9.10233 l -11.61544,0 z m 2.40538,2.12902 8.92521,0 c 4.3543,0 7.43768,2.21912 7.43768,6.97331 0,4.75419 -3.08338,7.00417 -7.43768,7.00417 l -8.92521,0 0,-13.97748 z" />
            <path d="m 377.48589,145.42128 0,23.41922 2.40538,0 0,-6.66476 16.48949,0 0,6.66476 2.40538,0 0,-23.41922 -2.40538,0 0,14.62544 -16.48949,0 0,-14.62544 -2.40538,0 z" />
            <path transform="scale(1.0127902,0.98737132)" d="m 401,147.28125 9.21875,18.78125 0,4.9375 2.375,0 0,-4.9375 9.21875,-18.78125 -2.5625,0 -7.75,16.21875 -7.9375,-16.21875 -2.5625,0 z" />
          </g>
        </g>
      </svg>
    </header>
    <div id='sidebar'>
      <ul id='menu'>
        <% @sets_hash.keys.each do |ps| %>
          <li><a href='#<%= "#{ps}"%>'><%= "#{ps}" %></a></li>
        <% end %>
      </ul>
    </div>
    <div class='container'>
      <ul class='content' />
    </div>
  </body>
</html>
