<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= $user_name %>
    </title>
    <% CDN[:scripts].each do |cdn| %>
      <script src='<%= cdn %>'></script>
    <% end %>
    <link rel='stylesheet' href='style.css'>
    <script>
      var timer;
      var flickr = {
        sets: JSON.parse(<%= "'#{$sets_json}'" %>),
        load: function(name) {
          var totalWidth = 300;
          clearInterval(timer);
          var elements = [];
          var count = this.sets[name].photos.length;
          console.log('Loading %d photos from set "%s" ...', count, name);
          new_photos = this.sets[name].photos;
          $('.container').fadeOut('slow', function() {
            $('.container').empty();
            $('.container').fadeIn();
            $.each(new_photos, function(k, v) {
              elements.push(
                $('<li class="content" />').append(
                  $('<img src="'+v.url+'" />').load(function() {
                    if (!this.complete
                        || typeof this.naturalWidth == undefined
                        || this.naturalWidth == 0) {
                      console.log('Skipping broken image %d (%s)', k, v.url);
                    } else {
                      totalWidth += this.naturalWidth;
                      $('.container').css({width: totalWidth+'px'});
                    }
                  })
                ).hide().fadeIn(9000)
              );
              if (count === elements.length) {
                timer = setInterval(function() {
                  $('.container').append(elements.splice(0, 3));
                  if (0 === elements.length) {
                    clearInterval(timer);
                  }
                }, 1000);
              }
            });
          });
        }
      };
      $(window).hashchange(function() {
        flickr.load(location.hash.slice(1));
      });

      $(document).ready(function() {
        // Tirger `hashchange` enent on load, in case it was provided
        $(window).hashchange();
      });
    </script>
  </head>
  <body>
    <h1><%= $user_name %>'s Photography</h1>
    <div id='sidebar'>
      <ul id='menu'>
        <% $sets_hash.keys.each do |ps| %>
          <li><a href='#<%= "#{ps}"%>'><%= "#{ps}" %></a></li>
        <% end %>
      </ul>
    </div>
    <div class='container'>
      <ul class='container' />
    </div>
  </body>
</html>
