<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= $user_name %>
    </title>
    <% CDN[:scripts].each do |cdn| %>
      <script src='<%= cdn %>'></script>
    <% end %>
    <link rel='stylesheet' href='style.css'>
    <!--
    <style>
      li { list-style-type: none; }
      .navigation ul { width: 400px; height: 800px; margin: 12px 12px 12px 12px; padding: 3px 3px 3px 3px; }
      .navigation { text-align: left; position: absolute; float: left; z-index: 2; padding: 0px 0px 0px 0px; }
      .navigation li { display: table-row; color: black; background: white; height: 80px; margin: 12px 12px 12px 12px; padding: 12px 0px 12px 12px }
      .navigation a { color: black; text-decoration: none; }
    </style>
    -->
    <script>
      var flickr = {
        sets: JSON.parse(<%= "'#{$sets_json}'" %>),
        load: function(name) {
          var filmWidth = 300;
          count = this.sets[name].photos.length
          console.log('Loading %d photos from set "%s" ...', count, name);
          new_photos = this.sets[name].photos;
          $('.container').fadeOut('slow', function() {
            $('.container').empty();
            $('.container').fadeIn();
            $.each(new_photos, function(k, v) {
              $('<li />').addClass('content').append(
                $('<img />')//.addClass('film')
                  .attr('src', v.url)
                  .load(function() {
                    if (!this.complete
                        || typeof this.naturalWidth == undefined
                        || this.naturalWidth == 0) {
                      console.log('Skipping broken image %d (%s)', k, v.url);
                    } else {
                      filmWidth += this.naturalWidth;
                      $('.container').css({width: filmWidth+'px'});
                    }
                  })
              ).appendTo('.container');
            });
          });
        }
      };
      $(window).hashchange(function() {
        flickr.load(location.hash.slice(1));
      });

      $(document).ready(function() {
        // Tirger `hashchange` enent on load, in case it was provided
        $(window).hashchange();
      });
    </script>
  </head>
  <body>
    <h1><%= $user_name %>'s Photography</h1>
    <div id='sidebar'>
      <ul id='menu'>
        <% $sets_hash.keys.each do |ps| %>
          <li><a href='#<%= "#{ps}"%>'><%= "#{ps}" %></a></li>
        <% end %>
      </ul>
    </div>
    <div class='container'>
      <ul class='container' />
    </div>
  </body>
</html>
